body{
    background-color: #fbfaf5;
}

.hero{
    width:100vw;
    display: flex;
    flex-direction: row;
}
h1 {
    color: #E88A3A;
    margin: auto;
}
#super{
    font-weight: 800;
}

#resultSpan{
    color:  #E88A3A;
    font-weight: 700 ;
}

.lead{
    font-size: 30px;
    font-weight: 500;
}

.quiz{
    background-color: #E88A3A;
}
